@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

.centermiddle {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

body {
    background-color: #000000;
}

/* ======================== */
/*   Old CSS (konami code)  */
/* ======================== */

#secret {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======================== */
/*    Modal Content / Box   */
/* ======================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 1rem;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
    text-align: center;
}

.modal-content p{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.modal-content a {
    color: dodgerblue;
    text-decoration: none;
}

.modal-content a:hover {
    color: lightskyblue;
}


.modal-content img {
    border-radius: 50%;
}


.modal-content .seconds {
    color: dodgerblue;
}